{% extends "@WebProfiler/Profiler/layout.html.twig" %}
{% block toolbar %}
    {% set icon %}
        <span class="icon">🧟</span>
        <span class="sf-toolbar-value">Igor</span>
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>State Leaks</b>
            <span>{{ collector.auditResults|length }}</span>
        </div>
    {% endset %}
    {{ include("@WebProfiler/Profiler/toolbar_item.html.twig", { link: true }) }}
{% endblock %}
